---
import Layout from "../layouts/Layout.astro"
import Card from "@components/dashboard/Card.astro"

const res = await fetch("http://localhost:4321/api/get-urls?id=1")
const urls = await res.json()
---

<Layout title="Tinyify Dashboard">
  <header class="flex flex-row justify-between items-center w-3/4 m-auto">
    <h3 class="text-xl">Dashboard</h3>
    <a class="text-lg hover:underline" href="/create">Create New Link</a>
  </header>
  <hr class="border-slate-900 mt-5">
  <main>
    <div class="grid-cols-autofit w-full">
      {
        urls.map(url => (
          <Card name={url.name} url={url.url} />
        ))
      }
    </div>
  </main>
</Layout>

<style>
  .grid-cols-autofit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
</style>