---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tinyify - URL Shortener">
  <main class="py-36 text-center">
    <h1 class="text-5xl mb-2 fade-in">Tinyify</h1>
    <h2 class="text-gray-400 text-2xl mb-8 fade-in">Open Source Url Shortener</h2>
    <button
      class="rounded shadow bg-white text-black w-auto font-semibold px-5 py-2 text-xl hover:bg-gray-200 transition fade-in"
      >Sign In</button
    >	
  </main>
</Layout>
