---
interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props;
---

<div class="border border-slate-900 p-4 m-4 relative">
  <h2 class="text-xl">/s/{name}</h2>
  <span class="text-gray-400 text-lg">{url}</span>
  <button class="absolute right-5 top-1 text-2xl font-semibold text-gray-400 hover:text-white transition">...</button>
</div>